{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
<h1 style="text-align: center">See all questions</h1>
<ul class="list-group list-group-flush" id="post">
  {% for post in posts %} {# Loop through all_posts instead of user.post #}
  <li class="list-group-item">
    {{ post.data }}
    {% if post.attachment %}
      <img src="data:image/jpeg;base64,{{ post.attachment }}" alt="Post Attachment" width="100">
    {% endif %}
    <button type="button" class="close" onClick="deletePost({{ post.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}