{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
{% if user.role == 'mentor' %}
  <h3 style="text-align: center">Welcome, Mentor {{ user.first_name }}</h3>
  <h1 style="text-align: center">See all questions</h1>
{% else %}
  <h3 style="text-align: center">Welcome, Mentee {{ user.first_name }}</h3>
  <h1 style="text-align: center">See your questions</h1>
{% endif %}
<ul class="list-group list-group-flush" id="post">
  {% for post in posts %}
  <li class="list-group-item" style="display: flex; align-items: center;">
    {% if post.attachment %}
      <img src="data:image/jpeg;base64,{{ post.attachment|base64_encode }}" alt="Post Attachment" width="300" height="300">
    {% endif %}
    <div style="flex: 1;">
      {{ post.data }}
    </div>
    {% if user.role == 'mentor' %}
      <a href="{{ url_for('views.answer', post_id=post.id) }}" class="btn btn-primary">Answer</a>
      {% elif user == post.user or user.role != 'mentor' %}
      <button type="button" class="close" onClick="deletePost({{ post.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}